body{
  background:#020617;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

.app{
  background:#0f172a;
  padding:30px;
  border-radius:12px;
  width:300px;
  text-align:center;
}

input, select{
  width:100%;
  padding:8px;
  margin-bottom:8px;
}

button{
  padding:8px 16px;
  cursor:pointer;
}
